@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@{
}

<ul >
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" >
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>