@using Itransition.ViewModel;
@model ChangePasswordViewModel
@{
     ViewData["Title"] = "Change Password";
     Layout = "_AccountLayout";
}

<div>
    <div>
        <h2>Change Password</h2>
        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmedNewPassword" class="form-label"></label>
                <input asp-for="ConfirmedNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
            <!-- verify email -->
            <div>
                <p>
                    <a asp-controller="Account" asp-action="EmailVerify">Verify Email</a>
                </p>
            </div>

        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
